.tableRecibos {
    .modal {
        .chip {
            font-size: 1.6rem;
            padding: 5px 10px;
            // margin-right: 10px;
            margin-bottom: 10px;
            background-color: #e2e6ea;
            border-radius: 5px;
            color: #343a40;
        }
    }
}
