.sidenav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 250px;
    transition: width 0.3s;
  }
  .sidenav.collapsed {
    width: 80px;
  }
  .sidenav .nav-link {
    padding-left: 1rem;
  }
  .sidenav.collapsed .nav-link {
    padding-left: 0.5rem;
  }
  .sidenav .nav-link i {
    font-size: 1.2rem;
  }
  .sidenav.collapsed .nav-link i {
    font-size: 1.5rem;
  }