@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 62.5%;
  }

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
}

body  {

    p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}
}
body label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
body input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}


.swal2-title{
    font-size: 2.6rem;
}

.swal2-html-container{
    font-size: 1.6rem;
}

.swal2-confirm,
.swal2-cancel{
    font-size: 1.6rem;
}


.modal-content {
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  
  .modal-header {
    background: #6564d8;
    color: #fff;
  
    h5 {
      font-size: 1.8rem;
      margin: 0;
      font-weight: 600;
    }
  
    .btn-close {
      filter: invert(1); /* cierre blanco */
    }
  }
  